<footer class="mt-5 py-3">
    <div class="container">
        <div class="text-center">
            <div class="mb-3">
                <h2 class="fw-bold m-1">MyTube</h2>
                <small>Upload &amp; Share Videos&trade;</small>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item mb-2 pe-3">
                    <a href="/terms-of-use">Terms of Use</a>
                </li>
                <li class="list-inline-item mb-2 ps-2 pe-3">
                    <a href="/privacy-policy">Privacy Policy</a>
                </li>
            </ul>
            <hr>
            <p class="mb-0">&copy; 2022 MyTube</p>
        </div>
    </div>
</footer>