{% extends "base.html" %}
{% block title %}Order Refund Policy | CarOrSell{% endblock %}

{% block content %}
<h1 class="fw-bold">CarOrSell Order Refund Policy</h1>
<p>Last Updated: 20 December 2021</p>

<hr>

<h4 class="fw-bold">Overview</h4>
<p class="pb-3">Our refund policy lasts for 90 days. If 90 days have gone by since your purchase, unfortunately, we can’t offer you a refund.</p>

<h4 class="fw-bold">Eligibility of Refunds</h4>
<p>To be eligible for a refund, you must contact us within 90 days from the date of purchase regardless of the timing it was purchased at. For example, if you were to place an order at 23:59:59 on Monday, your date of purchase will be on Monday, and not Tuesday.</p>
<p class="pb-3">Several types of goods are exempt from being refunded. Goods such as perishable items cannot be refunded.</p>

<h4 class="fw-bold">Instructions on RMA Process</h4>
<p>To complete your refund process, we require proof of purchase when contacting us such as a sales receipt. Otherwise, your refund will not be considered.</p>
<p class="pb-3">If your refund is approved, the amount will be processed, and a credit will automatically be applied to your debit/credit card or original method of payment, within 14 working days. Please take note that the amount refunded is subject to processing fees by your respective banks and not us.</p>

<h4 class="fw-bold">Late or Missing Refunds (if applicable)</h4>
<p>If you have yet to receive a refund, first check your bank account again. Thereafter, contact your debit/credit card company if it has yet to appear in your account. It generally takes some time before your refund is officially cleared. Next, contact your bank. There is often some processing time before a refund is posted.</p>
<p class="pb-3">If you have done all of this and you still have not received your refund yet, please contact us at <a href="mailto:refund@carorsell.sg">refund@carorsell.sg</a>.</p>

<h4 class="fw-bold">Gift Cards</h4>
<p class="pb-3">Gift cards are neither exchangeable nor refundable.</p>
{% endblock %}