@page
@model SusFoodBank.Pages.UserManagement.ChangepasswordModel
@{
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Update </h1>

			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>

@*				<div class="mb-3">
					<label class="form-label" asp-for="Changepassword.oldpassword">Old Password</label>
					<input type="Text" asp-for="Changepassword.oldpassword" class="form-control"  />
					<span asp-validaton-for="Changepassword.oldpassword" class="text-danger"></span>
				</div>*@

				<div class="mb-3">
					<label class="form-label" asp-for="Changepassword.newpassword">New password</label>
					<input type="Text" asp-for="Changepassword.newpassword" class="form-control" />
					<span asp-validaton-for="Changepassword.newpassword" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>

			</form>


		</div>
	</div>
</div>