@page
@model SusFoodBank.Pages.Legal.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="legal-header px-3 px-lg-0">
    <div class="container text-white py-3">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-page="/Index">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
            </ol>
        </div>
        <h1 class="fw-bold">Privacy Policy</h1>
        <small>Last updated on 08 December 2022</small>
    </div>
</div>

<div class="container px-3 px-lg-0 my-4">
    <ol>
        <li class="mb-3">This site is the SusFoodBank website.</li>
        <li class="mb-3">We may use “cookies”, where a small data file is sent to your browser to store and track information about you when you enter our website. The cookies track information such as the number of users and their frequency of visits, profiles of users and their preferred sites. While this cookie can tell us when you enter our website and which pages you visit, it cannot read data off your hard disk.</li>
        <li class="mb-3">You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. However, this may prevent you from taking full advantage of the website.</li>
        <li class="mb-3">
            If you provide us with personally identifiable data:
            <ul style="list-style-type: lower-alpha;">
                <li>We may share necessary data with third-parties to serve you more efficiently and effectively unless the law prohibits such sharing.</li>
                <li>We will not share your data with non-SusFoodBank entities, except where SusFoodBank authorised such entities to carry out specific SusFoodBank services.</li>
                <li>For your convenience, we may also display data you had previously supplied to us or third-parties to speed up the transaction and save you the trouble of repeating previous submissions. Should the data be out-of-date, please update us with the latest ones.</li>
            </ul>
        </li>
        <li class="mb-3">We secure all electronic storage and data transmission with the appropriate security technologies to safeguard them.</li>
        <li class="mb-3">This site may contain links to non-SusFoodBank websites whose data protection and privacy practices may differ from ours. We are not responsible for the contents and privacy practices of these other websites and encourage you to consult the privacy notices of those sites.</li>
        <li>
            Please get in touch with SusFoodBank at <a href="mailto:privacy@susfoodbank.org" class="legal-email">privacy@susfoodbank.org</a> if you:
            <ul style="list-style-type: lower-alpha;">
                <li>have any enquires or feedback on our data protection policies and procedures; or</li>
                <li>need more information on or access to data you have provided us in the past.</li>
            </ul>
        </li>
    </ol>
</div>
