@page
@model SusFoodBank.Pages.Legal.TermsModel
@{
    ViewData["Title"] = "Terms of Use";
}

<div class="legal-header px-3 px-lg-0">
    <div class="container text-white py-3">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-page="/Index">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Terms of Use</li>
            </ol>
        </div>
        <h1 class="fw-bold">Terms of Use</h1>
        <small>Last updated on 08 December 2022</small>
    </div>
</div>

<div class="container px-3 px-lg-0 my-4">
    <div class="mb-5">
        <h4 class="fw-bold px-2 px-lg-2">General</h4>
        <ol>
            <li class="mb-3">Thank you for visiting this website (“Website”) owned and operated by SusFoodBank. By accessing and using this Website, you unconditionally accept and agree to be bound by these Terms of Use. If you do not agree to these Terms of Use, please discontinue using this Website immediately.</li>
            <li>SusFoodBank reserves the right to change these Terms of Use from time to time without prior or further notice. Your use of this Website after such changes constitutes your unconditional agreement to the modified Terms of Use.</li>
        </ol>
    </div>
    <div class="mb-5">
        <h4 class="fw-bold px-2 px-lg-2">Proprietary Rights</h4>
        <ol start="3">
            <li>This Website, and the materials made available on or through this Website (“Contents”), are protected by copyright, trademark, and other intellectual property rights. All rights in this Website and the Contents are owned by, licensed to, managed, or controlled by SusFoodBank.</li>
        </ol>
    </div>
    <div class="mb-5">
        <h4 class="fw-bold px-2 px-lg-2">Restrictions on Use of Contents</h4>
        <ol start="4">
            <li class="mb-3">You may access and use this Website and the Contents in the manner permitted in these Terms of Use only.</li>
            <li class="mb-3">You may view, download, and print the Contents for your personal, internal, and non-commercial use, provided you keep all accompanying copyright and other proprietary notices intact.</li>
            <li class="mb-3">You shall not make any deletions, additions, adjustments, alterations, adaptations, or modifications to this Website or any of the Contents. You acknowledge and agree that any deletion, addition, adjustment, alteration, adaptation, or modification of this Website or any of the Contents violates intellectual property rights therein.</li>
            <li>Except as expressly permitted by these Terms of Use, you shall not reproduce, publish, upload, post, display, transmit or otherwise distribute this Website or any of the Contents in any manner or form without the prior written permission of SusFoodBank. You acknowledge and agree that any use of the Contents otherwise than in compliance with these Terms of Use violates intellectual property rights therein.</li>
        </ol>
    </div>
    <div class="mb-5">
        <h4 class="fw-bold px-2 px-lg-2">Disclaimers Against Warranties, Representations and Liability</h4>
        <ol start="8">
            <li class="mb-3">
                This Website and the Contents are provided on an “as is” and “as available” basis without any warranties. To the fullest extent permitted by law, SusFoodBank does not make any representations or warranties whatsoever and thus, disclaims all express, implied, and statutory warranties of any kind to you or any third party, whether arising from usage or custom or trade or by operation of law or otherwise, including but not limited to the following:
                <ul style="list-style-type: lower-alpha;">
                    <li>any representations or warranties as to the accuracy, completeness, reliability, timeliness, currency, quality, or fitness for any particular purpose of the Contents of this Website;</li>
                    <li>any representations or warranties that the Contents and functions available on this Website shall be error-free or be available without interruption or delay;</li>
                    <li>any representations or warranties that defects on this Website shall be rectified or corrected; or</li>
                    <li>any representations or warranties that this Website, the Contents, and the hosting servers are and will be free of all viruses and other harmful elements.</li>
                </ul>
            </li>
            <li class="mb-3">
                SusFoodBank shall not be liable to you or any third party for any damage or loss whatsoever, including but not limited to direct, indirect, punitive, special, or consequential damages, loss of income, revenue, or profits, lost or damaged data, or damage to your computer, software, modem, or other property, arising directly or indirectly from:
                <ul style="list-style-type: lower-alpha;">
                    <li>your access to or use of this Website;</li>
                    <li>any loss of access to or use of this Website howsoever caused;</li>
                    <li>any inaccuracy, incompleteness, errors or omissions in the transmission of the Contents;</li>
                    <li>any delay or interruption in the transmission of the Contents on this Website howsoever caused; or</li>
                    <li>any decision made or action taken by you or any third party in reliance upon the Contents, regardless of whether SusFoodBank received advisory of the possibility of such damage or loss.</li>
                </ul>
            </li>
            <li>You shall not rely on any Contents of this Website to claim or assert any form of legitimate expectation, whether procedural or substantive, against SusFoodBank regarding any action that SusFoodBank may or may not take when exercising its discretion.</li>
        </ol>
    </div>
    <div class="mb-5">
        <h4 class="fw-bold px-2 px-lg-2">Indemnity</h4>
        <ol start="11">
            <li>
                You hereunder agree to indemnify SusFoodBank and hold SusFoodBank harmless from and against all claims, losses, liabilities, costs, and expenses. These include but are not limited to legal fees on a full indemnity basis made against or suffered or incurred by SusFoodBank arising directly or indirectly out of:
                <ul style="list-style-type: lower-alpha;">
                    <li>your access to or use of this Website; or</li>
                    <li>your breach of any of these Terms of Use.</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="mb-5">
        <h4 class="fw-bold px-2 px-lg-2">Availability, Right of Access, Changes to Website and Contents</h4>
        <ol start="12">
            <li class="mb-3">SusFoodBank may suspend the operation of this Website or any of the Contents for any period without prior notice, whether for Website updating and upgrading, system maintenance or otherwise.</li>
            <li class="mb-3">SusFoodBank reserves all rights to deny or restrict access to this Website by any person or to block access from a particular Internet address to this Website at any time without prior notice and without ascribing any reason whatsoever.</li>
            <li class="mb-3">This Website and the Contents may be changed, modified, edited, removed, or withdrawn by SusFoodBank at its absolute discretion and at any time without prior notice.</li>
            <li>You shall obtain professional and, where necessary, legal advice relevant to your circumstances and conduct all necessary due diligence. Such advice includes but is not limited to making such investigations or seeking clarifications as may be appropriate regarding any decision or action you intend to take relating to any matter concerning the Contents of this Website. This Website may not cover all information available on a particular issue.</li>
        </ol>
    </div>
    <div class="mb-5">
        <h4 class="fw-bold px-2 px-lg-2">Hyperlinks From This Website to Other Websites</h4>
        <ol start="16">
            <li>This Website contains hyperlinks to websites not maintained by SusFoodBank. SusFoodBank is not responsible for the contents or reliability of those websites and does not necessarily endorse the views expressed in them. SusFoodBank has no control over and cannot guarantee accessibility or proper functioning of those websites. Further, SusFoodBank shall not be liable to you or any third party for any damage or loss arising from you accessing those websites. Use of hyperlinks and access to those websites is at your own risk.</li>
        </ol>
    </div>
    <div>
        <h4 class="fw-bold px-2 px-lg-2">Governing Law</h4>
        <ol start="17">
            <li>These Terms of Use shall be governed and construed according to the laws of the Republic of Singapore.</li>
        </ol>
    </div>
</div>
