<h2 class="fw-bold text-center mb-3">Help &amp; Support</h2>
<p class="text-center">At MyTube, we aim to ensure you are satisfied with your experience on our platform. We take pride in the services offered and want our users to enjoy them as much as we do.</p>
<p class="text-center">If you are experiencing an issue, please explore the list of Frequently Asked Questions found below first.</p>
<p class="text-center">If you still have queries, please do not hesitate to create a support ticket, and we will get back to you within 48 hours &lpar;excluding public holidays&rpar;.</p>

<div class="row text-center justify-content-center">
    <div class="col-sm-6 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <i class="fa-solid fa-plus mb-2" style="font-size: 50px;"></i>
                <h4 class="fw-bold">Create Ticket</h5>
                <small class="card-text">Click me to create a new support ticket for your queries.</small>
                <a href="/support/ticket-creation" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <i class="fa-solid fa-clock-rotate-left mb-2" style="font-size: 50px;"></i>
                <h4 class="fw-bold">Ticket History</h5>
                <small class="card-text">Click me if you are looking for your past support tickets.</small>
                <a href="/support/history" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>

<hr>

<p class="fw-bold">Frequently Asked Questions:</p>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">I spotted a bug on your platform. What should I do?</button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p class="mb-0">You may wish to report it to us by creating a support ticket with the category selected as 'Bug Report'.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">What happens when I delete my account?</button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p class="mb-0">When you delete your account, all information uploaded, such as personal information, videos, community posts, and support tickets, will all be wiped from our database.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Can I recover my deleted account?</button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p class="mb-0">It is not possible to recover your deleted account. You will need to create a new account should you decide to venture with us again.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">How frequently does MyTube perform server maintenance?</button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p class="mb-0">At MyTube, our target is to ensure high uptime so that everyone can have a pleasant viewing experience. Where possible, we perform maintenance during non-peak hours such as midnights.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">I accidentally deleted a video. How can I get it back?</button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p class="mb-0">Please get in touch with us via a support ticket and we will try our best to assist you.</p>
            </div>
        </div>
    </div>
</div>