<h2 class="fw-bold">Privacy Policy</h2>
<p>Last Updated: 12 July 2022</p>

<br>

<h4 class="fw-bold">Outline</h4>
<p class="pb-3">This Privacy Policy describes how your personal information is collected, used, and shared when you
    visit or make a transaction from the MyTube website &lpar;the “Site”&rpar;.</p>

<h4 class="fw-bold">Personal Information We Collect</h4>
<p>When you visit the Site, we automatically collect certain information about your device, including information about
    your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as
    you browse the Site, we collect information about the individual web pages or products that you view, what websites
    or search terms referred you to the Site, and information about how you interact with the Site. We refer to this
    automatically-collected information as “Device Information.”</p>
<p>We collect Device Information using the following technologies:</p>
<ul style="list-style: lower-roman;">
    <li>“Cookies” are data files that are placed on your device or computer and often include an anonymous unique
        identifier. For more information about cookies, and how to disable cookies, visit <a
            href="http://www.allaboutcookies.org/" class="legal-a" target="_blank">http://www.allaboutcookies.org/</a>.
    </li>
    <li>“Log files” track actions occurring on the Site, and collect data including your IP address, browser type,
        Internet service provider, referring/exit pages, and date/time stamps.</li>
    <li>“Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse the
        Site.</li>
</ul>
<p>Additionally, when you make a transaction or attempt to make a transaction through the Site, we collect certain
    information from you, including your email address, and phone number. We refer to this information as “Transaction
    Information.”</p>
<p>If you have contacted MyTube either via our ticket system or email, we will collect and retain all information
    submitted for an indefinite amount of time until it is deemed to be no longer useful.</p>
<p class="pb-3">When we talk about “Personal Information” in this Privacy Policy, we are talking both about Device
    Information and Transaction Information.</p>

<h4 class="fw-bold">How Do We Use Your Personal Information?</h4>
<p>We use the Transaction Information that we collect generally to fulfil any transactions placed through the Site
    &lpar;including providing you with confirmation emails&rpar;. Additionally, we use this Transaction Information to:
</p>
<ul style="list-style: lower-roman;">
    <li>communicate with you;</li>
    <li>screen our transactions for potential risk or fraud; and</li>
    <li>when in line with the preferences you have shared with us, provide you with information or advertising relating
        to our products or services.</li>
</ul>
<p class="pb-3">We use the Device Information that we collect to help us screen for potential risk and fraud &lpar;in
    particular, your IP address&rpar;, and more generally to improve and optimise our Site &lpar;for example, by
    generating analytics about how our customers browse and interact with the Site, and to assess the success of our
    marketing and advertising campaigns&rpar;.</p>

<h4 class="fw-bold">Sharing Your Personal Information</h4>
<p>We share your Personal Information with third parties to help us use your Personal Information, as described above.
</p>
<p class="pb-3">We may also share your Personal Information to comply with applicable laws and regulations, to respond
    to a subpoena, search warrant or other lawful requests for information we receive, or to otherwise protect our
    rights.</p>

<h4 class="fw-bold">Do Not Track</h4>
<p class="pb-3">Please note that we do not alter our Site&CloseCurlyQuote;s data collection and use practices when we
    see a Do Not Track signal from your browser.</p>

<h4 class="fw-bold">Your Rights</h4>
<p class="pb-3">If you are a European resident, you have the right to access the personal information we hold about you
    and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this
    right, please contact us through the contact information below. Additionally, if you are a European resident, you
    note that we are processing your information in order to fulfil contracts we might have with you &lpar;for example
    if you make a transaction through the Site&rpar;, or otherwise to pursue our legitimate business interests listed
    above. Additionally, please note that your information will be transferred outside of Europe to Singapore.</p>

<h4 class="fw-bold">Data Retention</h4>
<p class="pb-3">When you place a transaction through the Site, we will maintain your Transaction Information in our
    records unless and until you ask us to delete this information.</p>

<h4 class="fw-bold">Amendments</h4>
<p class="pb-3">We may update this Privacy Policy from time to time in order to reflect, for example, changes to our
    practices or for other operational, legal or regulatory reasons.</p>

<h4 class="fw-bold">Contact Us</h4>
<p class="pb-3">For enquiries regarding our privacy practices, or if you would like to make a complaint, please send us
    an email at at <a href="mailto:mytube.nyp@gmail.com" class="legal-a">mytube.nyp@gmail.com</a>.</p>