@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using SusFoodBank.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Together, a sustainable future!";
}

<div id="banner-image" style="height: 100%; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="d-flex flex-column vh-100 justify-content-center align-items-center">
            <h2 class="px-auto text-center fw-bold fst-italic">Welcome to SusFoodBank!</h2>
            <p class="px-auto text-center fw-bold mb-0" style="font-size: 60px;">Our Nation. Our Future.</p>
            <p class="px-auto text-center fw-bold">Together, towards a sustainable future!</p>
            <a href="#learn-more" class="text-center mt-3" style="text-decoration: none;">
                <p class="mb-0" style="font-size: 16px;">Learn More</p>
                <i class="fa-solid fa-chevron-down fw-bold"></i>
            </a>
        </div>
        <div class="pt-3 mb-5" id="learn-more">
            <div class="mb-5">
                <h2 class="fw-bold text-center mb-4">Why Choose Us?</h2>
                <div class="row">
                    <div class="col-md text-white text-center">
                        <i class="fa-solid fa-user-tie text-success mb-3" style="font-size: 75px;"></i>
                        <h3 class="fw-bold">Experience</h3>
                        <p>Every SusFoodBank staff member has at least a decade of charity experience.</p>
                    </div>
                    <div class="col-md text-white text-center">
                        <i class="fa-solid fa-helmet-safety text-success mb-3" style="font-size: 75px;"></i>
                        <h3 class="fw-bold">Safety</h3>
                        <p>All food products are checked to ensure it meets the safety standards for distribution.</p>
                    </div>
                    <div class="col-md text-white text-center">
                        <i class="fa-solid fa-clock text-success mb-3" style="font-size: 75px;"></i>
                        <h3 class="fw-bold">Reliability</h3>
                        <p>We are available 24/7, even while the nation is asleep. Simply drop us a call!</p>
                    </div>
                </div>
            </div>

            <div class="pt-3">
                <h2 class="fw-bold text-white text-center mb-4">What Our Volunteers Say</h2>
                <div class="row">
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div class="card-body p-4">
                                <div class="text-warning mb-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h5 class="card-title mb-3">Friendly Staff</h5>
                                <p class="card-text mb-0">Brought my kids to the food bank. To my surprise, the staff here actually taught them the importance of not wasting food. Would recommend this dealership any time, any day!</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="small">
                                            <div class="fw-bold">Alan Tan</div>
                                            <div class="text-muted">21 November 2021</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div class="card-body p-4">
                                <div class="text-warning mb-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h5 class="card-title mb-3">Excellent Customer Service</h5>
                                <p class="card-text mb-0">Had a problem with my appointment and contacted customer service directly. Though he told me that the company does not provide exception for queue skipping, he voluntarily welcomed me and served me personally when I arrived! Best customer service ever!</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="small">
                                            <div class="fw-bold">John Tan</div>
                                            <div class="text-muted">29 November 2021</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div class="card-body p-4">
                                <div class="text-warning mb-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h5 class="card-title mb-3">Most Compassionate Staff</h5>
                                <p class="card-text mb-0">I really love how compassionate the staff there was towards those in need.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="small">
                                            <div class="fw-bold">Steven Lim</div>
                                            <div class="text-muted">8 December 2021</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="py-3">
                <h2 class="fw-bold text-white text-center mb-4">What Are You Waiting For?</h2>
                <div class="text-center">
                    <a asp-page="/UserManagement/Register" class="btn btn-success px-4 mb-3">Join Us Today</a>
                </div>
            </div>
        </div>
    </div>
</div>